/* 样式内容 */
     paper {display:block;font-size:20px;line-height:160%;text-align:center}
    author{display:block; font-size:16px;margin-top:5px;margin-bottom:5px}
    address{display:block; font-size:16px; text-align:center}
    abstract1{display:block;  font-size:20px; font-weight:bold; font-style:italic;}
    abstract2{display:block; font-size:20px; font-weight:normal; font-style: normal; line-height:160%;}
    keyword{display:block; font-size:20px; font-weight:bold;  font-style: italic;}
    keywords#bl{display:block;font-size:14px; font-weight:normal;font-style: normal; line-height:150%;}
    head{display:block;font-size:20px; line-height:150%}
    text{display:block; font-size:18px; text-align:left; text-indent:30pt;line-height:150%;}