roster,student
{font-size:15pt;font-weight:bold; color:blue; display:block; margin-bottom:5pt; }
origin,age,telephone
{font-weight:bold; font-size:12pt; display:block; color:block; margin-left:20pt;}
name
{font-weight:bold;font-size:14pt;display:block;color:red;margin-top:5pt;margin-left:8pt;}
