body{
    background-image: url("pig.png")
}
h1{
    text-align: center;
    color: yellow;
}
h2{
    margin-left: 60%;
}
p{
    text-indent: 32px;
    font-size: 16px;
    line-height: 32px;
}
img{
    position: absolute;
    left: 50%;
    margin-left: -181px;
}